<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!--Database connection settings
        <property name="connection.driver_class">org.h2.Driver</property>
        <property name="connection.url">jdbc:h2:./data/instateam</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password">chris</property>-->

        <!--SQL Dialect-->
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Set naming strategy -->
        <property name="hibernate.implicit_naming_strategy">org.hibernate.boot.model.naming.ImplicitNamingStrategyJpaCompliantImpl</property>

        <!--Create the database schema on application startup-->
        <!--hbm2ddl stands for Hibernate Mapping to Data Definition Language-->
        <property name="hbm2ddl.auto">update</property>

        <!--Names the annotated entity classes so Hibernate knows where the annotated @Entity classes are
        <mapping class="com.cj.worldbank.Country"></mapping>-->
    </session-factory>
</hibernate-configuration>