<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <title>InstaTeam</title>
        <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <link rel="stylesheet" th:href="@{/normalize.css}"/>
        <link rel="stylesheet" th:href="@{/site.css}"/>
    </head>
    <body>
        <header>
            <div class="container">
                <div class="site-header">
                    <a class="logo" href="index.html">InstaTeam</a>
                    <a class="new-project button icon-left" href="/add_project"><i class="material-icons">add</i> New Project</a>
                </div>
            </div>
        </header>
        <nav>
            <ul>
                <li class="selected"><a href="/">Projects</a></li>
                <li><a href="/collaborators">Collaborators</a></li>
                <li><a href="/roles">Roles</a></li>
            </ul>
        </nav>
        <section>
            <div class="container wrapper" th:each="project : ${projects}">
                <div class="project-list">
                    <div class="project">
                        <a th:href="'/project-detail/' + ${project.id}">
                            <h2 th:text="${project.id} + '. ' + ${project.name}"></h2>
                        </a>
                        <p th:text="${project.description}"></p>
                        <span class="tag active" th:text="${project.status}"></span>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>