<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <title>InstaTeam</title>
        <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <link rel="stylesheet" th:href="@{/normalize.css}"/>
        <link rel="stylesheet" th:href="@{/site.css}"/>
    </head>
    <body>
        <header>
            <div class="container">
                <div class="site-header">
                    <a class="logo" href="/">InstaTeam</a>
                    <a class="new-project button icon-left" href="/add_project"><i class="material-icons">add</i> New Project</a>
                </div>
            </div>
        </header>
        <nav>
            <ul>
                <li class="selected"><a href="/">Projects</a></li>
                <li><a href="/collaborators">Collaborators</a></li>
                <li><a href="/roles">Roles</a></li>
            </ul>
        </nav>
        <section>
            <div class="container wrapper">
                <form th:action="'/project-detail/' + ${project.id}" method="post" th:object="${project}">
                    <input type="hidden" th:field="*{id}"/>
                    <input type="hidden" th:field="*{description}"/>
                    <input type="hidden" th:field="*{name}"/>
                    <input type="hidden" th:field="*{status}"/>
                    <label th:text="'Edit Collaborators:  ' + *{name}"></label>
                    <ul class="checkbox-list">
                        <li th:each="role : *{rolesNeeded}">
                            <span th:text="${role.name}" class="primary"></span>
                            <input type="hidden" th:field="*{rolesNeeded[__${roleStat.index}__].id}" th:value="${role.id}"/>
                            <div class="custom-select">
                                <span class="dropdown-arrow"></span>
                                <select th:field="*{collaborators}">
                                    <option th:each="collaborator : ${role.collaborators}" th:value="${collaborator.id}" th:text="${collaborator.name}">Collaborator Name</option>
                                </select>
                            </div>
                        </li>
                    </ul>
                    <div class="actions">
                        <button type="submit" class="button" >Submit</button>
                        <!--<input type="submit" value="Save" class="button"/>-->
                        <a href="'/project-detail/' + *{id}" class="button button-secondary">Cancel</a>
                    </div>
                </form>
            </div>
        </section>
    </body>
</html>