<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <title>InstaTeam</title>
        <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <link rel="stylesheet" th:href="@{/normalize.css}"/>
        <link rel="stylesheet" th:href="@{/site.css}"/>
    </head>
    <body>
        <header>
            <div class="container">
                <div class="site-header">
                    <a class="logo" href="/">InstaTeam</a>
                    <a class="new-project button icon-left" href="#"><i class="material-icons">add</i> New Project</a>
                </div>
            </div>
        </header>
        <nav>
            <ul>
                <li><a href="/">Projects</a></li>
                <li><a href="/collaborators">Collaborators</a></li>
                <li class="selected"><a href="/roles">Roles</a></li>
            </ul>
        </nav>
        <section>
            <div class="container wrapper">
                <form action="/roles" method="post" th:object="${newRole}">
                    <input type="hidden" th:field="*{id}"/>
                    <h2>Manage Roles</h2>
                    <div>
                        <ul class="checkbox-list">
                            <li th:each="role : ${roles}">
                                <a th:href="'/edit_role/' + ${role.id}" th:text="${role.name}"></a>
                            </li>
                        </ul>
                    </div>
                    <br/>
                    <div class="actions add-new-role">
                        <input type="text" th:field="*{name}" id="role_name" name="role_name" placeholder="New Role..."/>
                    <button class="button" type="submit" id="submit" name="submit">Add</button>
                    </div>
                </form>
            </div>
        </section>
    </body>
</html>